<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title>Update Contact</title>
</head>

<body>

    <div id="content">
        <!-- user logged in: sidebar -->

        <div data-th-if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar::sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-20" style="height: 1000px">
            <div class="grid grid-cols-12">
                <div class="col-span-3"></div>
                <div class="col-span-12 md:col-span-6">

                    <div
                        class="card block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-900">

                        <div data-th-replace="message::messagebox"></div>

                        <h1 class="text-2xl font-semibold">Update Contact</h1>

                        <!-- form start -->

                        <form class="mt-8"
                         data-th-action="@{'/user/contacts/update/'+${contactId}}"
                         data-th-object="${contactForm}"
                         method="post"
                         enctype="multipart/form-data"> 
                         
                         

                            <!-- name field -->
                            <div class="mb-2">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Name</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5     pointer-events-none">
                                        <i class="fa-solid fa-user w-4 h-4"></i>
                                    </div>
                                    <input
                                        data-th-field="*{name}" 
                                        type="text"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="name">
                                </div>
                                <p class=" text-red-500 "
                                data-th-if="${#fields.hasErrors('name')}"
                                data-th-errors="*{name}"
                                >Invalid Name</p>
                            </div>
                            <!-- email field -->
                            <div class="mb-2">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Email</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5     pointer-events-none">
                                        <i class="fa-solid fa-envelope w-4 h-4"></i>
                                    </div>
                                    <input type="text"
                                        data-th-field="*{email}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="example@gmail.com">
                                </div>
                                <p class=" text-red-500 "
                                data-th-if="${#fields.hasErrors('email')}"
                                data-th-errors="*{email}"
                                >Invalid Email</p>
                            </div>
                            <!-- phone number field -->
                            <div class="mb-2">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Phone
                                    Number</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5     pointer-events-none">
                                        <i class="fa-solid fa-phone w-4 h-4"></i>
                                    </div>
                                    <input type="text" 
                                        data-th-field="*{phoneNumber}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="0123456789">
                                </div>
                                <p class=" text-red-500 "
                                data-th-if="${#fields.hasErrors('phoneNumber')}"
                                data-th-errors="*{phoneNumber}"
                                >Invalid Phone Number</p>
                            </div>

                            <!-- address -->
                            <div class="mb-2">
                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Address</label>
                                <textarea data-th-field="*{address}" rows="1"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Write contact address here..."></textarea>
                                    <p class=" text-red-500 "
                                data-th-if="${#fields.hasErrors('address')}"
                                data-th-errors="*{address}"
                                >Invalid Name</p>
                            </div>
                            <!-- description -->
                            <div class="mb-2">
                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    description</label>
                                <textarea data-th-field="*{description}" rows="2"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Write contact description here..."></textarea>
                            </div>
                            <!-- social links -->
                            <div class="flex space-x-2 mb-2">
                                <!-- website link -->
                                <div class="w-full">
                                    <div class="mb-2">
                                        <label for="input-group-1"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5     pointer-events-none">
                                                <i class="fa-solid fa-earth w-4 h-4"></i>
                                            </div>
                                            <input type="text" data-th-field="*{websiteLink}"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="https://yourwebsitelink.com/">
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <div class="mb-2">
                                        <label for="input-group-1"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5     pointer-events-none">
                                                <i class="fa-brands fa-linkedin w-4 h-4"></i>
                                            </div>
                                            <input type="text" data-th-field="*{linkedInLink}"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="LinkedIn">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- add profile picture -->
                            <div class="mb-2">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                    for="default_size">Contact Image</label>
                                <input
                                    id="image_file_input"
                                    class="block w-full mb-1 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                    data-th-field="*{contactImage}"
                                    type="file">

                                    <p class=" text-red-500 "
                                    data-th-if="${#fields.hasErrors('contactImage')}"
                                    data-th-errors="*{contactImage}">
                                    Invalid Phone Number</p>

                                    
                                    <img 
                                    data-th-src="*{picture}"
                                    src="" class=" max-h-36 mx-auto rounded-lg shadow m-3 " id="upload_image_preview" alt="">
                            </div>

                            <!-- is favourite contact -->
                            <div class="flex items-center mb-2 ">

                                <label for="default-checkbox"
                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-white mx-2">Add to
                                    favourite</label>
                                <input data-th-field="*{favourite}" type="checkbox" 
                                    class="w-4 h-4 text-blue-600 bg-red-300 border border-red-500 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-500 dark:border-gray-600 cursor-pointer">
                            </div>
                            <div class="button_container text-center ">
                                <button type="submit" class="px-3 py-2 rounded bg-black text-white dark:bg-blue-700 dark:text-white hover:bg-gray-700 dark:hover:bg-blue-800 ">
                                    Update contact
                                </button>
                                <button type="reset" class="px-3 py-2 rounded bg-black text-white dark:bg-blue-700 dark:text-white hover:bg-gray-700 dark:hover:bg-blue-800">
                                    Reset
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script data-th-src="@{'/js/admin.js'}"></script>
    <script>
        console.log("Add contact Page");
    </script>
</body>

</html>